@import '../../variables';

.webinar {

  p, h2, h3, h6 {
    margin: auto;
    text-align: center;
  }

  p.smaller {
    font-size: .9rem;
    color: #777;
  }

  form {
    p {
      max-width: initial;
      margin-bottom: 1rem;
    }

    padding-bottom: 2rem;

    label {
      width: 40%;
      display: inline-block;
      margin-bottom: .5rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
    }

    input[type="text"], input[type="email"] {
      display: block;
      width: 85%;
      font-size: 1rem;
      line-height: 1.5;
      color: $link-color;
      padding: .375rem .75rem;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
    }

    @media only screen and (max-width: $breakpoint-desktop) {
      label {
        width: 100%;
        clear: both;
      }

      input[type="text"], input[type="email"] {
        width: 95%;
      }
    }
  }

  .webinar__submit-button {
    width: 18%;
    color: white;
    background-color: $link-color;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0 solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;
    cursor: pointer;
    padding: .375rem .75rem;
    margin-bottom: .25rem;

    &:hover {
      background-color: $darker-link-color;
    }

    &:disabled {
      background-color: $lighter-link-color;
    }

    @media only screen and (max-width: $breakpoint-desktop) {
      width: 19%;
      margin: 1vh;
    }
  }

  .webinar__success-message {
    font-weight: 400;
    font-style: italic;
  }

  @media only screen and (max-width: $breakpoint-desktop) {
    text-align: center;
  }

}
