@import '../../variables';

.features {

  .features__headlines {
    padding-top: 4vh;
  }

  .features-content {
    padding-right: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include breakpoint-smartphone {
      padding-right: 0;
    }

    .feature-box {
      flex: 1 1 260px;
      margin-right: 24px;

      display: flex;
      align-items: flex-start;
    }

    @mixin breakpoint-retina {
      .feature-box {
        flex: 0 1 320px;
      }
    }
  }
}
