@import '../../variables';

.quickstart {

  .quickstart-image__container {

    @include breakpoint-desktop-m {
      padding: 0 24px;
    }

    .quickstart-image {
      display: block;
      max-width: 100%;
      margin: auto;
      margin-bottom: 100px;

      border-radius: 20px;
      box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.03);
      background-color: #fcfcfc;
      border: solid 0.8px #e0e8ed;

      @include breakpoint-smartphone {
        margin-bottom: 20px;
      }

    }
  }

  @include breakpoint-desktop-m {
    margin-top: -30px;
  }

  p {
    max-width: 100%;
  }

  li {
    max-width: 100%;
  }

}

