@import '../../variables';

.hero {
  min-height: 790px;
  margin-top: 20px;

  @include breakpoint-smartphone {
    margin-top: 0;
  }

  .hero-content {
    @include breakpoint-smartphone {
      padding: 0 20px;
    }

    .hero-left {
      h1 {
        max-width: 455px;
      }

      padding-top: 6vw;
      padding-right: $default-padding;

      .hero-button {
        display: inline-block;
        width: 160px;
        height: 45px;
        border-radius: 4px;
        color: #ffffff;

        margin-right: 15px;

        text-align: center;
        line-height: 42px;

        font-family: 'Source Code Pro', serif;
        font-size: 16px;
        letter-spacing: 0.6px;
        margin-bottom: $default-padding;

        text-decoration: none;

        @include thicker-hover-shadow;

        &.light-blue-design {
          background-color: $light-blue;
          &:hover {
            background-color: $less-light-blue;
          }
        }

        &.dark-blue-design {
          background-color: $dark-blue;
          &:hover {
            background-color: $darker-blue;
          }
        }

        @include breakpoint-smartphone {
          width: 40%;
        }
      }

    }

    .hero-image {
      padding-top: 10vh;
      max-width: 900px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 20px;
      text-indent: 50px;


      @include breakpoint-desktop-s {
        max-width: 650px;
      }

      @include breakpoint-desktop-xs {
        max-width: 450px;
      }

      @include breakpoint-smaller-as-desktop-xs {
        display: none;
      }

      img {
        transform: rotate(-6deg);
        @include smoother-transition;
      }
    }
  }

}
